@font-face {
  font-family: "YouSheBiaoTiHei";
  src: url("https://material-1258771799.cos.ap-shanghai.myqcloud.com/shop/ccc.ttf");
}
* {
  padding: 0;
  margin: 0;
}
#app {
  font-size: 14px;
  color: #606266;
}
img,
video {
  vertical-align: middle;
}
// 固定填满布局
.fixed-view {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* 字体换行 */
.text-ellipsis,
.text-ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
.text-ellipsis {
  -webkit-line-clamp: 1;
}
.text-ellipsis-2 {
  -webkit-line-clamp: 2;
}
// 粗字体
.fw700 {
  font-weight: 700;
}
// 细字体
.fw400 {
  font-weight: 400;
}
// 点击手势
.gesture--click {
  cursor: pointer;
}
// 移动手势
.gesture--move {
  cursor: move;
}
// 纵向滑动
.vertical-swipe {
  overflow-x: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
// 不可选中文本
.disable-select {
  -webkit-user-select: none;
}
// 字体图标
.iconfont {
  line-height: 1;
}
// 可以识别文字的换行
.text-space {
  white-space: pre-wrap;
}